<%= link_to('Tasks', tasks_path)%>
<div>
  <h1>tasks#show</h1>
  <div>
    <%= link_to('Edit', edit_task_path(@task)) %>
    <%= link_to('Delete',  delete_task_path(@task)) %>
  </div>
  <table class='tasks'>
    <tr>
      <td>Task</td>
      <td><%= @task.name %></td>
    </tr>
    <tr>
      <td>Position</td>
      <td><%= @task.position %></td>
    </tr>
    <tr>
      <td>Completed</td>
      <td><%= @task.completed ? 'Yes' : 'No' %></td>
    </tr>
    <tr>
      <td>Category</td>
      <td><%= @task.category&.name || '-' %></td>
    </tr>
    <tr>
      <td>Created At</td>
      <td><%= @task.created_at%></td>
    </tr>
    <tr>
      <td>Updated At</td>
      <td><%= @task.updated_at %></td>
    </tr>
  </table>
</div>
