<%= link_to('Back to Home', root_path ) %>
<h1>List Of Categories</h1>
<%= link_to('Add new Category', new_category_path)%>
  <table class='tasks'>
  <tr>
    <th>Category</th>
    <th>Actions</th>
  </tr>
<% @categories.each do |category| %>
  <tr>
    <td> <%= category.name%></td>
    <td>
      <%= link_to('Edit', edit_category_path(category)) %>
      <%= link_to('Delete', delete_category_path(category)) %>
    </td>
  </tr>
<%end%>
  </table>
