<!DOCTYPE html>
<html>
  <head>
    <title>RORTaskManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <section>
      <%= yield %>
    </section>
    <div class='footer'>
      <p>Created by Olivier Rwubakwanayo</p>
      <span class='social-media-cont'>
        <a target='_blank' href='https://www.linkedin.com/in/rwubakwanayo/'>
          <%= image_tag 'linkedin.png', :class=>'media-icon' %>
        </a>
        <a target='_blank' href='https://rwubakwanayo.github.io/personal-website'>
          <%= image_tag 'portfolio.png', :class=>'media-icon' %>
        </a>
        <a target='_blank' href='https://github.com/RWUBAKWANAYO'>
          <%= image_tag 'github.png', :class=>'media-icon' %>
        </a>
      </span>
    </div>
  </body>
</html>
